// Ce style est initialisé lors de l'appel à HomeStage
// via le menu Game

.root {
    -fx-background-image : url('textureBlack.jpg');
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #d8d8d8;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.right-stock {
    -fx-fill: linear-gradient(white, black);
}

.left-stock {
    -fx-fill: linear-gradient(grey, black);
}

.leg {
    -fx-fill: linear-gradient(gray, white);
}

.scorePane-lbRed {
    -fx-font-size: 30pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}

.scorePane-lbYel {
    -fx-font-size: 30pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
}